<div class="card">
	<div class="card__image">
		{{> basics/image image }}
	</div>
	<div class="card__text">
		<h3 class="card__title">{{title}}</h3>
		<p class="card__description">{{description}}</p>
	</div>
</div>