<div class="modal js-modal" id="{{id}}" aria-hidden="true" role="dialog" aria-modal="true">
    <div class="modal__overlay js-modal-close"></div>
    <div class="modal__container" role="document">
        <button class="modal__close js-modal-close" aria-label="Close modal" type="button">
            ×
        </button>
        <div class="modal__content js-modal-content">
            {{{content}}}
        </div>
    </div>
</div>