body {
    background-image: url("assets/gradient-background.png");
    height: 100%;
    background-size: cover;
    font-family: 'Merriweather', serif;
}

h1{
    font-size: 2em;
}

#dashboard-container {
    background: rgba(255,255,255,0.5);
    min-height: 100%;
    border-radius: 15px;
    width: auto;
    margin-top: 3em;
    padding: 2em;
}

.dashboard-cards {
    min-height: 100%;
    background: rgba(255,255,255,0.4);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 1px solid rgba(255,255,255,0.2);
    padding: 2em;
}