body {
    background-image: url("assets/gradient-background.png");
    height: 100%;
    background-size: cover;
    font-family: 'Roboto Slab', sans-serif;
}

h1, h2{
    font-size: 2em;
}

#dashboard-container {
    background: rgba(255,255,255,0.5);
    min-height: 330px;
    border-radius: 15px;
    width: auto;
    margin-top: 1.5em;
    padding: 1.5em;
}

.dashboard-cards {
    height: auto;
    background: rgba(255,255,255,0.7);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 1px solid rgba(255,255,255,0.2);
    padding: 2em;
}

#dashboardPane {
    background: rgba(255,255,255,0.6);
    height: auto;
    margin: 0px;
    padding: 40px;
    border-radius: 15px;
    }

    @media screen and (max-width: 1000px){
        body {
            display: none;
        }
    }
    #dashboardPane button{
        display: block;
        margin-bottom: 30px;
    }
    #dashboardPane button.active, button:hover {
        background-color: #ffb60b;
    }

   #dashboard-container .col-sm-9 {
       margin-bottom: 2em;
   }


#adoNumbers {
    width: 100%;
    height: 3em;
    margin-bottom: 1em;
}

.circles {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background: rgba(255,255,255,0.3);
    backdrop-filter: blur(10px);
    position: absolute;
    z-index: 1;
    right: -150px;
    top: 50px;
    transform: translateX(-50%) translateY(-50%);
  }

  #v-pills-tab a {
      color: #000;
  }
  #v-pills-tab a.active, button:hover {
    color: #fff;
    background-color: #f18a3a;
}

table tbody:first-child tr {
    background-color:rgba(250,250,250,0.4)!important;
}

.spinner-border {
    height: 1rem;
    width: 1rem;
}

table img {
    width: 100%!important;
}

.table td {
    font-size: 11px;
}

.table th {
    font-size: 15px;
}