<div class="gallery-block">
	<div class="gallery-block__right-content">
		{{> basics/gallery }}
  	</div>
	<div class="gallery-block__left-content">
		<div class="gallery-block__text-content">
      		<h2 class="gallery-block__title">{{title}}</h2>
			<div class="gallery-block__text">
				{{> basics/richtext content=text }}
			</div>
    	</div>
	</div>
</div>