.card {
    margin-bottom: 30px;

    &__image {
        margin-bottom: 30px;
        width: 100%;
        object-fit: cover;
    }

    &__text {
        padding: 0 30px;
    }

    &__title {
        margin-bottom: 10px;
        text-align: center;
    }

    &__description {
        text-align: center;
    }
}