.modal {
  position: fixed;
  inset: 0;
  z-index: 999;
  display: none;

  &.is-active {
    display: block;
  }

  &__overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.75);
    cursor: pointer;
  }

  &__container {
    position: absolute;
    max-width: 900px;
    margin: 5vh auto;
    background: #000;
    width: 100%;
    padding: 1rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    @media screen and (min-width: 768px) {
      width: fit-content;
    }
  }

  &__content img {
    width: auto;
    height: 100%;
    display: block;
    margin: 0 auto;
    max-height: 450px;
  }

  &__close {
    position: absolute;
    top: -40px;
    right: 0;
    background: transparent;
    border: 0;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
  }
}