.cards {
    img {
        width: 375px;
        height: 460px;
        flex-grow: 0;
        display: grid;
        gap: 30px;
        padding: 0;
        object-fit: contain;

        @media screen and (min-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (min-width: 1024px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}