.gallery-block {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  &__title {
	line-height: 1.1;
    letter-spacing: 1.5px;
    font-weight: 300;
	border-bottom: solid 1px var(--color-white);
	width: fit-content;
    margin: 0 auto 30px;
    text-align: left;
	padding-bottom: 30px;
  }

  &__right-content {
	@media (min-width: 768px) {
		width: 66%;
	}	
  }

  &__left-content {
	@media (min-width: 768px) {
		width: 33%;
	}
  }
}
